alembic==1.7.7
appdirs==1.4.4
attrs==21.4.0
beautifulsoup4==4.10.0
bokeh==2.4.2
Bootstrap-Flask==2.0.2
cached-property==1.5.2
cachelib==0.6.0
certifi==2021.5.30
charset-normalizer==2.0.12
click==8.0.4
commonmark==0.9.1
cycler==0.11.0
Flask==2.0.3
Flask-Markdown==0.3
Flask-Migrate==3.1.0
Flask-Moment==1.0.2
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
fonttools==4.31.2
gevent==21.12.0
greenlet==1.1.2
gunicorn==20.1.0
html5lib==1.1
idna==3.3
iso4==0.0.2
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.1
joblib==1.1.0
kiwisolver==1.4.1
lxml==4.8.0
Mako==1.2.0
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib==3.5.1
nltk==3.7
numpy==1.22.3
packaging==21.3
pandas==1.4.1
Pillow==9.0.1
platformdirs==2.5.1
Pygments==2.11.2
pyparsing==3.0.7
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.1
pyxlsb==1.0.9
PyYAML==6.0
regex==2022.3.15
requests==2.27.1
requests-file==1.5.1
requests-toolbelt==0.9.1
rich==12.0.1
RISparser==0.4.4
six==1.16.0
soupsieve==2.3.1
SQLAlchemy==1.4.32
tabulate==0.8.9
tornado==6.1
tqdm==4.63.1
typing_extensions==4.1.1
urllib3==1.26.9
webencodings==0.5.1
Werkzeug==2.0.3
WTForms==3.0.1
xlrd==2.0.1
xmltodict==0.12.0
zeep==4.1.0
zope.event==4.5.0
zope.interface==5.4.0
