{% extends "base.html" %}
{#{% import "bootstrap/wtf.html" as wtf %}#}
{% import 'bootstrap/form.html' as bootstrap %}

{% import "utils.html" as utils %}


{% block page_content %}

{{super()}}

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Search form</h1>
        <p class="lead">Enter your title, abstract and references file (in RIS format)
            to start the matching process.</p>
      </div>
    </div>

    <div class="container">


{#{% macro render_form(form,    #}
{#                    action="",#}
{#                    method="post",#}
{#                    extra_classes=None,#}
{#                    role="form",#}
{#                    form_type="basic",#}
{#                    horizontal_columns=('lg', 2, 10),#}
{#                    enctype=None,#}
{#                    button_map={},#}
{#                    button_style="",#}
{#                    button_size="",#}
{#                    id="",#}
{#                    novalidate=False,#}
{#                    render_kw={}) %}#}
{{ bootstrap.render_form(
        form, form_type='horizontal',
        horizontal_columns=('lg', 2, 6),
        extra_classes='text-right',
        button_size='md'
        ) }}

    <div id="help-box">
        {% include "_help_ris.html" %}
    </div>


    </div>

{% endblock page_content%}