{% filter markdown %}

Journal match statistics and impact metrics are presented in table form.

###### Notes

- Sort journals by clicking on column headers.
- Sherpa Romeo <i class="fas fa-registered fa-fw"></i> links describe
    open access options.
- The `DOAJ` column provides info from the Directory of Open Access Journals,
    if the journal is indexed there. Hover over the icons for a description.
- Prospect (`P`) is shown for the selected 'Preferred impact metric'.
- 'Expected impact' (`E`) is the *impact* multiplied by *prospect*
    (using the selected 'Preferred impact metric').
- Impact values may be missing for some journals.

###### Abbreviations

- `DOAJ`: Directory of Open Access Journals
- `SNIP`: Source Normalized Impact per Paper
- `SJR`: Scimago Journal Rank
- `JIF`: Journal Impact Factor
- `JCI`: Journal Citation Index
- `AI`: Article Influence (from Eigenfactor)
- `EF`: Eigenfactor score
- `EFn`: Normalized Eigenfactor (average journal score = 1)
- `P`: Prospect
- `E`: Expected impact (Prospect * impact)
- `ML`: Medline-indexed journal
- `PMC`: articles in PubMed Central
- `∑sim`: sum of similarity scores
- `⤒sim`: maximum similarity
- `CAT`: sum of `C`, `A`, and `T`
- `A&T`: sum of `A` and `T`
- `C`: citation count in reference file
- `A`: number of articles matching query in [Jane](https://jane.biosemantics.org/) search of *Abstract*
- `T`: number of articles matching query in [Jane](https://jane.biosemantics.org/) search of *Title*
- `A&T`: number of articles in common between Abstract and Title searches.

{% endfilter %}
