{% filter markdown %}

Journal match statistics and impact metrics are presented in table form.

###### Notes

- Sort journals by clicking on column headers.
- Impact values may be missing for some journals.

###### Abbreviations

- `JIF`: Journal Impact Factor
- `JCI`: Journal Citation Index
- `AI`: Article Influence (from Eigenfactor)
- `EF`: Eigenfactor score
- `EFn`: Normalized Eigenfactor (average journal score = 1)
- `OA`: Open Access journal
- `ML`: Medline-indexed journal
- `PMC`: articles in PubMed Central
- `conf`: Confidence score, the normalized sum of similarity scores.
- `∑sim`: sum of similarity scores
- `⤒sim`: maximum similarity
- `CAT`: sum of `C`, `A`, and `T`
- `C`: citation count in reference file
- `A`: number of articles matching query in [Jane](https://jane.biosemantics.org/) search of *Abstract*
- `T`: number of articles matching query in [Jane](https://jane.biosemantics.org/) search of *Title*
- `A&T`: number of articles in common between Abstract and Title searches.

{% endfilter %}
