{%  filter markdown %}

In the plots of the **Fit** view, the horizontal axes show metrics that
    indicate to what extent the manuscript is a 'good fit' for the journal,
    while the vertical axes show journal impact values. In both plots, the
    impact metric can be changed via dropdown.

###### Plot 1
The 'fit' dimension in the first plot is the sum of `C`itation count,
    `A`bstract match count, and `T`itle match count. This sum was used to sort
    journals in the **Articles** and **Table** views, and was used to quantify
    traits in favor of manuscript acceptance in the **Prospect** plot.

###### Plot 2
The 'fit' dimension in the second plot is one of two (toggleable) similarity
    metrics resulting from the title and abstract [Jane](https://jane.biosemantics.org/)
    searches. 'Max similarity' is the highest similarity score observed for a journal among its
    articles in either search, while 'Sum of similarities' is the sum of these
    scores.

{% endfilter %}
